package2/main/default/flows/CalculateTotalAmount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <formulas>
        <name>TotalAmount</name>
        <dataType>Currency</dataType>
        <expression>{!Price.Foreigner__c}*{!$Record.Foreigner__c}+{!Price.Regular__c}*{!$Record.Regular__c}+{!Price.Student__c}*{!$Record.Student__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CalculateTotalAmount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CalculateTotalAmount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Price</name>
        <label>Price</label>
        <locationX>189</locationX>
        <locationY>353</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>tp</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ticket__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Foreigner__c</queriedFields>
        <queriedFields>Regular__c</queriedFields>
        <queriedFields>Student__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>tp</name>
        <label>tp</label>
        <locationX>319</locationX>
        <locationY>390</locationY>
        <inputAssignments>
            <field>Total__c</field>
            <value>
                <elementReference>TotalAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Price</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Foreigner__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Regular__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Student__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>NewTicket__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
